<h1><%= @post.title %></h1>

<p>Blogger: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p>Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %></p>

<p>Likes: <%=@post.likes%></p>
<%= button_to "Like", like_path(@post), method: :put %>

<h2>Content</h2>
<p><%= @post.content %></p>

<%= button_to "Delete Post", post_path(@post), method: :delete %>